*,*::after,*::before{
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 800px;
}
header {
    height: 20vh;
}
main {
    max-height: 80vh;
}
#main-header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    background: url('assets/samuel-regan-asante-wMkaMXTJjlQ-unsplash.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0.5em;
}
.options {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#watchlist,#main-header h1   {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.5em;
    border-radius: 5px;
    background-color: #DFDDDD;
    font-weight: bolder;
    text-shadow: 0 0 0 4px rgb(255, 255, 255);
}
#movie-form {
    position: relative;
    top: 25px;
    max-width: 70vw;
}
#movie-form button {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 100px;
    border: 1px solid #DFDDDD;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#search-movie{
    padding: 0.75em;
    width: 40vw;
    text-indent: 25px;
    border: none;
    outline: none;
    border: 1px solid #DFDDDD;
    border-radius: 5px;
}
#search-tool {
    position: absolute;
    left: 10px;
    top: 9px;
    color: #6B7280;
}
.movie-container {
    margin: 0 auto;
    max-width: 50vw;
    margin-top: 7rem;
}
.movie {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}
.movie img {
    width: 100px;
}
.options-movie {
    display: flex;
    gap:1em;
}
.features p, h3 {
    margin: 0.5em 0;
}
hr {
    color: #DFDDDD;
}
span {
    font-size: 0.9rem;
}
 h3 i {
    color: rgb(236, 221, 19);
    font-size: 0.9rem;
    margin-left: 2em;
}