*,*::after,*::before{
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Work Sans', sans-serif;
}
header {
    height: 20vh;
    width: 100vw;
    
}
main {
    max-height: 80vh;
    width: 100vw;
}
.container {
    margin: 0 auto;
    max-width: 800px;
}
#main-header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    background: url('assets/samuel-regan-asante-wMkaMXTJjlQ-unsplash.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0.5em;
}
.options {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#watchlist,#main-header h1   {
    text-decoration: none;
    color: rgb(254, 245, 0);
    background-color: black;
    padding: 0.5em;
    border-radius: 5px;
    font-weight: bolder;
    text-shadow: 0 0 0 10px rgb(254, 245, 0);
}
#watchlist:hover {
    box-shadow: 0 0 5px rgb(226, 226, 183);
}
#movie-form {
    position: relative;
    top: 25px;
}
#movie-form button {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 100px;
    border: 1px solid #DFDDDD;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#movie-form button:hover {
    cursor: pointer;
}
#search-movie{
    padding: 0.75em;
    width: 500px;
    text-indent: 25px;
    border: none;
    outline: none;
    border: 1px solid #DFDDDD;
    border-radius: 5px;
}
#search-tool {
    position: absolute;
    left: 10px;
    top: 9px;
    color: #6B7280;
}
.movie-container {
    margin: 0 auto;
    max-width: 50vw;
    margin-top: 5rem;
}
.movie {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.movie img {
    width: 100px;
    box-shadow: 0 0 5px rgb(121, 120, 120);
    border-radius: 5%;
}
.options-movie {
    display: flex;
    gap:1em;
}
#watchlist-btn {
    background-color: black;
    padding: 0.25em;
    color: whitesmoke;
    border-radius: 20%;
}
#watchlist-btn:hover {
    cursor: pointer;
    background-color: #6B7280;
    transition: 0.25s;
}
.features p, h3 {
    margin: 0.5em 0;
}
hr {
    color: #DFDDDD;
    width: 100%;
}
span {
    font-size: 0.9rem;
}
 h3 i {
    color: rgb(236, 221, 19);
    font-size: 0.9rem;
    margin-left: 2em;
}
.advice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #DFDDDD;

}
.advice i {
    font-size: 4rem;
    align-self: center;
}
.advice h2 {
    align-self: center;
}
#advice-container {
    color: black;
}
#advice-container i {
    font-size:1rem ;
}
#add-btn {
    font-size: 1rem;
    color: whitesmoke;
    background-color: black;
    border-radius: 50%;
    padding: 0.25em;
    margin-right: 1em;
}
#add-span {
    color: black;
    align-self: center;
}